<app-menu-bar></app-menu-bar>
<app-menu-title></app-menu-title>

<div class="container__articles">
    <div class="articles__main">
        <app-card></app-card>
        

    </div>
    <div class="articles__main">
        <app-two-card></app-two-card>

    </div>
    <div class="articles__others">
        
        <app-card-description></app-card-description>
        <app-card-description></app-card-description>
        <app-card-description></app-card-description>
        <app-card-description></app-card-description>
        
        
        
        
    </div>

</div>
