<div class="container_menu-card">
    <div class="card-photo">
        <img
            src="https://images.contentstack.io/v3/assets/blta38dcaae86f2ef5c/bltf6e6db188ed71207/6498a92950bdc80b24f0ecaf/062723_LoR_7B2023_Article_Neeko_Banner.jpg"
            alt=""
            height="200px"
            width="397"
            srcset=""
            >

    </div>
    <div class="card-title">
        <h1>Neeko</h1>
    </div>
    <div class="card-description">
        <p>Neeko é uma vastaya da tribo Oovi-Kat, uma raça pacífica com habilidades espirituais. Sua ilha natal foi destruída, e ela escapou para Harelport. Fascinada pelo mundo fora de sua tribo, Neeko tem dificuldade em compreender a comunicação baseada em palavras. Ela encontra Nidalee, uma caçadora de feras, como amiga, mas decide partir em busca de revitalizar árvores mortas que aparecem em seus sonhos. Neeko está determinada a criar uma nova tribo que inclua vastayas, yordles e diversas raças, prometendo defender os sho'mas (essência espiritual) das pessoas com sua vida. </p>
    </div>

</div>