.container_menu-titile{
    color: rgb(199, 12, 165);
}
.container_menu-titile > h1{
    margin-top: 75px;
    margin-bottom: 15px;
    font-size: 65px;
    display: flex;
    justify-content: center;
}
.container_menu-titile > hr{
    margin-top: 5px;
    margin-bottom: 5px;
 
}
.typewriter {
    color: #ffffff;
    font-family: monospace;
    overflow: hidden; 
    border-right: 0.15em solid rgb(255, 0, 136); 
    white-space: nowrap; 
    margin: 0 auto;
    letter-spacing: 0.15em; 
    animation: typing 2.5s steps(120, end) alternate infinite,
      blink-caret 0.5s step-end infinite, rotateText 2.5s;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: rgb(255, 0, 208);
    }
  }
  
  @keyframes rotateText {
    0% {
      transform: rotate(0);
    }
    25% {
      transform: rotate(10deg) scale(1.5) translateX(10px) skewY(10deg);
    }
    75% {
      transform: rotate(-10deg) scale(0.8) translateX(-10px) skewY(-10deg);
    }
    100% {
      transform: rotate(5deg) scale(1.2) translateX(5px) skewY(5deg);
    }
  }
  