<div class="container_menu-card">
    <div class="card-photo">
        <img
            src="https://2.bp.blogspot.com/-oSVp1Kq6B9Q/WpCDbsWxy4I/AAAAAAAAI2E/rDlWlAvisY0sCkamxU-Oz44aO9mWMrK1gCLcBGAs/s2560/landscape-wallpapers-mountains-green-colorado-lake-fog-wallpapers.jpg"
            alt=""
            height="200px"
            width="397"
            srcset=""
            >

    </div>
    <div class="card-title">
        <h1>title 1</h1>
    </div>
    <div class="card-description">
        <h1>description 1 alalallalasldklasdlksaçlkdaksldksç</h1>
    </div>

</div>